<%- include('component/header.ejs') %>
<div>
    <form action="/teams" method="post">
        <select name="country" id="selctCountry">
            <% stateForm.list.countries.forEach(function(country){ %>
                <option value="<%- country.id %>"><%- country.name %></option>
            <% }); %>
        </select>
        <input type="submit">
    </form>
</div>

<%- include('component/footer.ejs') %> 