<%- include('component/header.ejs') %>
<style>
    select{
        width: 100%;
    }
    .yessai{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
</style>
<div class="yessai">
    <form action="/teams" method="post">
        <select name="country" id="selctCountry">
            <% stateForm.list.countries.forEach(function(country){ %>
                <option value="<%- country.id %>"><%- country.name %></option>
            <% }); %>
        </select>
        <input type="submit">
    </form>
</div>

<%- include('component/footer.ejs') %> 