<%- include('component/header.ejs') %>
<div>
    <form action="/match" method="post">
        <select name="teams" id="selectTeams">
            <% stateForm.list.teams.forEach(function(team){ %>
                <option value="<%- team.name %>"><%- team.name %></option>
            <% }); %>
        </select>
        <input type="submit">
    </form>
</div>


<%- include('component/footer.ejs') %>